

#container {
    width: 900px;
    height: 50px;
    background-color: pink;
    border: 2px solid navy;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    
}

.nav {
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
    margin-left:5px;
    font-size:24px;
    line-height:50px;
    
}