* {
    margin: auto;
    font-size: 1.5em;
}

#container {
    height: 400px;
    width: 400px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.box {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
}