.face {
    height: 400px;
    width: 400px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid black;
    margin: 15px;
}

.mouth {
    width: 200px;
    height: 50px;
    background-color: brown;
    border-radius: 45px 45px 45px 45px;
    position: absolute;
    top: 260px;
    left: 120px;
}

.leye, .reye {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 100px;
}

.reye{
    left: 250px;
}
