.loader {
    border: 16px solid rgb(122, 122, 167);
    border-top: 16px solid gold;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}