*{
    font-family: 'Courier New', Courier, monospace;
}

#outer {
    background-color: gray;
    height: 150px;
    width: 300px;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}

.secdiv {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50px;
    margin: 10px;
    display: inline-block;

}

#lst {
    display: inline;
}