div {
    height: 200px;
    width: 500px;
    background-color: yellow;

    border-width: 5px;
    border-style: double;
    border-color: blue;
    /* Border ShorthaND */
    border: 5px double blue;

    border-radius: 50px;
    margin: 10px 20px 30px 40px;
}

h1 {
    border-width: 3px;
    border-style: dashed;
    border-color: chartreuse;
}

button{
    border: 5px solid navy;
    border-radius: 10px;
    /* padding-left: 20px;
    padding: 10px 20px 30px 40px;
    padding-right: 20px; */
    padding: 0 20px 0 20px;
    background-color: cyan;
    
}