* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(159, 182, 223, 0.751);
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', sans-serif;
}

form {
    background-color: ghostwhite;
    max-width: 700px;
    height: 600px;
    align-items: center;
    padding: auto;
    margin: auto;
    box-shadow: 2px 5px 5px;
    border: 2px dotted blue;
    border-radius: 10px;
}

.form-control {
    text-align: left;
    display: block;
    margin: 5px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input, select, textarea {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
    display: block;
}

.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button {
    background-color: rgb(157, 157, 231);
    color:black;
    border: 1px solid black;
    border-radius: 20px;
    width: auto;
    height: auto;
    font-size: 12px;
    font-family: inherit;
    margin: 10px;
    padding: 2px;
    display: inline;
}

#reset {
    background-color: red;
}